.header{
    padding: 10px 20px;

    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        display: flex;
        flex-direction: column;
        text-align: center;
        h1{
            font-size: 24px;
            font-weight: 700;
        }
        p{
            color: #707579;
            font-size: 14px;
        }
    }

    .back-icon{
        padding: 16px;
        background: #EFEFF4;
        border-radius: 50%;
    }
}