.category-tabs{
    margin-top: 20px;

    .swiper-slide {
        width: auto !important; /* Слайды подстраиваются под содержимое */
        flex-shrink: 0; /* Предотвращает сжатие слайдов */
    }
}

.category-tabs__item {
    padding: 10px 17px;
    border-radius: 50px;
    white-space: nowrap;
    background: #efeff4;
    color: #707579;
    display: inline-block;
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 14px;
    font-weight: 700;
    transition: all .3s ease;
    cursor: pointer;
}
.category-tabs__item.active {
    background: #000000;
    color: #fff;
}
  