.catalog-product{
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    margin-top: 10px;
    font-family: var(--font-raleway);

    img{
        width: 160px;
        border-radius: 22px;
    }

    &__title, 
    &__price{
        font-size: 19px;
        -webkit-line-clamp: 2; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
    &__price{
        font-family: var(--font-inter);
        font-weight: 500;
        color: #707579;
    }
    &__title{
        font-family: var(--font-raleway);
        font-weight: 700;
        margin-bottom: auto;
    }
    &__desc{
        font-weight: 500;
        -webkit-line-clamp: 2; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
}
